[data-field="message_app"]{
	color: :red !important;
}
.pull-left{
	font-weight: bold !important;
}
.openerp .oe_notebook > li.ui-state-active > a, .openerp .oe_notebook > li.ui-state-active > a:hover{
	font-weight: bold !important;
}
.b_color_red{
	background-color: red !important;
    color: white !important;
    background-image: none !important
}
.order_no_sheet{
	max-width: none !important;
}