@media print {
  .content_re{
  	margin-right: 0.5cm !important;
    margin-left: 0.5cm !important;
  }
  .visible-print  { display: inherit !important; }
  .hidden-print   { display: none !important; }
  #spiderWeb{
  	position: relative;
  	left: -100pt;
  }
  canvas{
  	position: relative;
  	width: 90%;
  	left: -90pt; !important;
  }
  .spiderWeb{
  	left: -90pt;
  }
  .des_and_pote{
    page-break-before:always;
  }
}