.content_re{
	background-color: rgba(236, 236, 236, 0.32);
	margin-right: 20px;
	margin-left:  20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 4px;
	border:solid 0.001px rgba(102, 102, 102, 0.32);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.answers{
	padding-left: 10%;
	padding-right: 10%;
}
hr {
	height: 2px;
    text-align: center;
    background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, from(rgb(255, 255, 255)), color-stop(0.5, rgb(51, 51, 51)), to(rgb(255, 255, 255)));
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}


.button {
   background: #0099ff;
   padding: 10px 20px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 24px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   border:none;
}

.button:hover {
   border-top-color: #ffffff;
   background: #ffffff;
   color: #000000;
}

.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}
th{
  border: 1px solid black;
  text-align:center !important;
  background-color:#4CAF50;
}
td{
  border: 1px solid black;
  text-align:center;
}